.Jax {
  align-items: flex-end;
  display: flex;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.JaxWrapper {
  height: 0;
  padding-top: 78.9473684%;
  position: relative;
  transform: translateY(30%);
  width: 100vw;
}

.JaxBackground {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.JaxIris {
  left: 44%;
  position: absolute;
  top: 30%;
  width: 18%;
}
